@font-face {
    font-family: 'OneDirection';
    src: url('/assets/css/OneDirection.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}

body {
    font-family: 'input-mono', monospace;
    font-weight: 300;
    font-size: 50px;
    cursor: url(https://cur.cursors-4u.net/food/foo-5/foo429.cur), auto !important;
    margin: 0px;
    background-color: black;
    color:white;
    /*
      height: 100vh;
    width:400vh;
*/
}

h1 {
    font-family: 'OneDirection';
    font-size: 60px;
    font-weight: 500;
    text-align: center;
    font-style: normal;
    margin: 0px;
    line-height: 1;
    z-index: -1;
    top: 10%;

}

h2{
    font-family: 'input-mono', monospace;
    font-weight: 490;
    font-size: 16px;
    text-align: center;
    height: 15px;
       line-height: 1;
    margin-top: 5px;
    margin-bottom: 20px;
    
}






@media screen and (max-width: 725px) {
    .index {
        font-size: 8.5em !important;
        line-height: 115px !important;
    }
}

body {
    margin: 0px;
    margin-bottom: 50px;
    max-width: 100vw;
}

.container {
    margin: 10px 0px 0px 0px;
}



.nav a,
.header a,
.prev,
.next {
    text-decoration: none;
    color: white;
}



.header {

    font-family: 'input-mono', sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.index {
    font-size: 35px;
    line-height: 12vh;
    margin: 10px 50px;
    max-width: 90%;
    letter-spacing: 1px;
    position: absolute;
}

.larry:hover,
.eleanor:hover,
.mrx:hover,
.rbb:hover,
.babies:hover,
.mitam:hover,
.xfactor:hover,
    {
    color: white;
    line-height: .2;
}

.tooltip {
    position: relative;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
}



/*CHANGE BODY COLOR ON HOVER FOR LINK CLASS*/

.larry:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #05A678;
}

.larry {
    color: #05A678;
     animation: scroll-down 1s linear 1;
    height:55px;
    overflow: hidden;
}




.eleanor:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #F05490;
}


.eleanor {
    color: #F05490;
     animation: scroll-down 1s linear 1;
    height:55px;
    overflow: hidden;
}



.mrx:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #120DA3;
}

.mrx {
    color: #120DA3;
     animation: scroll-down 1s linear 1;
    height:55px;
    overflow: hidden;
}


.rbb:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #C688F0;
}
.rbb {
    color: #C688F0;
     animation: scroll-down 1s linear 1;
    height:55px;
    overflow: hidden;
}


/*

.babies:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #F0D876;
}
*/

.mitam:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #D97941;
}

.mitam {
    color: #D97941;
     animation: scroll-down 1s linear 1;
    height:55px;
    overflow: hidden;
}

.xfactor:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #8D0B00;
}

.xfactor {
    color: #8D0B00;
     animation: scroll-down 1s linear 1;
    height:55px;
    overflow: hidden;
}

.larry:hover,
.eleanor:hover,
.mrx:hover,
.rbb:hover,
.babies:hover,
.mitam:hover,
.xfactor:hover,
    {
    color: white;
    line-height: .2;
}


.author,
.date {
    display: inline-block;
}

.page {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 80%;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: white;
}




.video {
    padding: 56.25% 0 0 0;
    position: relative;
}


.flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    position: relative;

}

.portfolio {
    width: 100vw;

}



p {
    font-family: 'input-mono', monospace;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.3;
    justify-content: center;
    margin: 15px 25%;
}

iframe{
    justify-content: center;
      display: block;
    margin:25px  20px;
    position: absolute;
}

.evidence{
  margin: 0px auto;   
}
img{
    margin:10px 30%;
    width:35vw;
}

@keyframes scroll-down{
     0% {
        transform: translateY(-100px);
         opacity: 0;
    }

 

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


a {
    text-decoration: none;
}

.larrylink a{
     color: #05A678;
    
}
.larrylink a:visited{
     color: #05A678;
    
}
.ellink a:visited{
     color: #F05490;
    
}
.mrxlink avisited{
     color: #120DA3;
    
}

.rbblink avisited{
     color: #C688F0;
    
}
.conspiracy a:hover {
    cursor: url(https://cur.cursors-4u.net/food/foo-5/foo429.cur), auto !important;
    font-size: 40px;
    font-family: 'eloquent-jf-pro', serif;
}


.nav{
    width: 50px;
    margin: 10px;
    z-index:2;
    position: fixed;
    bottom:0px;
    
}

.nav:hover{
    opacity:.6;
    transition: .5s;
}