@font-face {
    font-family: 'OneDirection';
    src: url('/assets/css/OneDirection.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;

}

body {
    font-family: 'input-mono', monospace;
    font-weight: 300;
    font-size: 50px;
    cursor: url(https://cur.cursors-4u.net/food/foo-5/foo429.cur), auto !important;
    margin: 0px;
    /*
      height: 100vh;
    width:400vh;
*/
}

h1 {
    font-family: 'OneDirection';
    font-size: 180px;
    font-weight: 500;
    text-align: center;
    font-style: normal;
    margin: 0px;
    line-height: 1;
    z-index: -1;
    top: 10%;

}

h2 {}

p {}



a {
    text-decoration: none;
    color: #E9EFEF;



}

a:hover {
    cursor: url(https://cur.cursors-4u.net/food/foo-5/foo429.cur), auto !important;
    font-size: 50px;
    font-family: 'eloquent-jf-pro', serif;
}

html,

@media screen and (max-width: 575px) {

    p,
    ul,
    .question,
    .quote,
    .video-container {
        min-width: 40%;
    }
}

@media screen and (min-width: 575px) {

    p,
    ul,
    .question {
        max-width: 600px;
    }
    

    .quote {
        max-width: 490px;
    }

    .video-container {
        max-width: 60%;
        min-width: 600px;
    }

    .small-img {
        max-width: 60%;
    }
}

@media screen and (max-width: 725px) {
    .index {
        font-size: 8.5em !important;
        line-height: 115px !important;
    }
}

body {
    margin: 0px;
    margin-bottom: 50px;
    max-width: 100vw;
}

.container {
    margin: 10px 0px 0px 0px;
}



.nav a,
.header a,
.prev,
.next {
    text-decoration: none;
    color: white;
}



.header {

    font-family: 'input-mono', sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
        position:absolute;
}

.index {
    font-size: 35px;
    line-height: .7;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 90%;
    letter-spacing: 1px;
      position:absolute;
}

.larry:hover,
.eleanor:hover,
.mrx:hover,
.rbb:hover,
.babies:hover,
.mitam:hover,
.xfactor:hover,{
    color: white;
    position: 
}

.tooltip {
    position: relative;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
}



/*CHANGE BODY COLOR ON HOVER FOR LINK CLASS*/

.larry:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #05A678;
}

.eleanor:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #F05490;
}

.mrx:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #120DA3;
}

.rbb:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #C688F0;
}

.babies:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #F0D876;
}

.mitam:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #D97941;
}

.xfactor:hover:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #8D0B00;
}

.author,
.date {
    display: inline-block;
}

.page {
      content: '';
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: black;
}


p {
    font-family: 'rucksack';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 35px auto 35px auto;
}


.video {
    padding: 56.25% 0 0 0;
    position: relative;
}

iframe {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




.scroll-right {
    height: 215px;
    overflow: hidden;
    position: relative;
    width: 400vh;

}

.scroll-right h1 {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    transform: translateX(100%);
    animation: scroll-right 13s linear infinite;
}

@keyframes scroll-right {
    0% {
        transform: translateX(100%);
    }

    2% {
        transform: translateX(50%);

    }

    100% {
        transform: translateX(-100%);
    }
}
